#banner {
    position: relative;
    width: 100%;
    padding: 70px 0;
  
    #banner-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  
    #banner-content {
      color: #fff;
  
      h1 {
        margin-bottom: 1.5rem;
        font-size: 3rem;
      }
    }
  
    #banner-content.info-title {
      padding: 0 70px;
  
      @media (max-width: 768px) {
        padding: 20px;
      }
    }
  }
  
  #newProduct {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 700px;
  
    @media (max-width: 768px) {
      flex-direction: column;
    }
  
    .newProduct-content {
      display: flex;
      align-items: center;
      width: 50%;
      background: rgb(0,90,171);
      background: linear-gradient(90deg, rgba(0,90,171,1) 0%, rgba(0,48,91,1) 0%, rgba(0,87,164,1) 60%, rgba(0,112,210,1) 100%);
  
      @media (max-width: 768px) {
        width: 100%;
      }
  
      div {
        padding: 70px;
        color: #fff;
  
        @media (max-width: 768px) {
          padding: 70px 20px;
        }
  
        h2 {
          margin-bottom: 40px;
        }
  
      }
    }
  
    .newProduct-detail {
      width: 50%;
      padding: 70px;
      background-color: #fff;
  
      @media (max-width: 768px) {
        width: 100%;
        padding: 20px;
      }
  
      .newProduct-title {
        padding-bottom: 40px;
        margin-bottom: 50px;
        border-bottom: 2px solid #d1d1d1;
      }
  
      .newProduct-list {
        .newProduct-item {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
  
          img {
            width: 100px;
            height: 100px;
            margin-right: 30px;
            border-radius: 5px;
            object-fit: cover;
          }
  
          p {
            color: #005aab;
            font-weight: 600;
            font-size: 1.1rem;
            margin: 0;
          }
  
          span {
            color: #969696;
            font-size: 14px;
          }
        }
      }
    }
  }
  
  #oustandingProd {
    .oustandingProd-title {
      padding: 70px;
      background-color: #f1f2f2;
  
      @media (max-width: 768px) {
        padding: 40px 20px;
      }
  
      >div {
        width: 70%;
  
        @media (max-width: 768px) {
          width: 100%;
        }
  
        h1 {
          margin-bottom: 40px;
  
        }
      }
  
    }
  
    .oustandingProd-info {
      padding: 40px 0;
  
      @media (max-width: 768px) {
        padding: 20px 0;
      }
  
      .detail-02 {
        .title {
          @media (max-width: 768px) {
            order: 1;
          }
        }
  
        .image {
          @media (max-width: 768px) {
            order: 2;
          }
        }
      }
  
      .oustandingProd-detail {
        display: flex;
        align-items: stretch;
  
        @media (max-width: 768px) {
          flex-direction: column;
          margin-bottom: 20px;
        }
  
        .title {
          width: 50%;
          padding: 70px;
  
          @media (max-width: 768px) {
            width: 100%;
            padding: 20px;
          }
  
          h3 {
            margin-bottom: 30px;
          }
  
          p {
            margin-bottom: 20px;
          }
  
          a {
            font-size: 20px;
            font-weight: 600;
            color: #005aab;
          }
        }
  
        .image {
          width: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          padding: 100px 0;
          min-height: 400px;
  
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
  
  #info {
    .info-02 {
      background: rgb(0,90,171);
      background: linear-gradient(90deg, rgba(0,90,171,1) 0%, rgba(0,48,91,1) 0%, rgba(0,87,164,1) 60%, rgba(0,112,210,1) 100%);
    }
  
    .info-01,
    .info-02 {
      display: flex;
      align-items: center;
      background-color: #f1f2f2;
      padding: 20px 0;
  
      @media (max-width: 768px) {
        flex-direction: column;
        padding: 0;
      }
  
      .title-dark {
        color: inherit !important;
      }
  
      .title {
        width: 50%;
        padding: 70px;
        color: #fff;
  
        @media (max-width: 768px) {
          order: 1;
          width: 100%;
          padding: 60px 20px;
        }
  
        h1 {
          margin-bottom: 30px;
        }
  
        p {
          margin-bottom: 30px;
        }
  
        a {
          border-radius: 5px;
          padding: 10px 30px;
          background-color: #005aab;
          font-size: 20px;
          font-weight: 600;
          color: #f1f2f2;
        }
      }
  
      .image {
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 120px 0;
  
        @media (max-width: 768px) {
          order: 2;
          width: 100%;
        }
      }
  
      .link {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        @media (max-width: 768px) {
          order: 2;
          width: 100%;
        }
  
        a {
          padding: 20px 40px;
          background-color: rgb(207, 12, 12);
          color: #fff;
          font-size: 20px;
  
          @media (max-width: 768px) {
            margin-bottom: 60px;
          }
        }
  
      }
    }
  }
  
  #related {
    .related-title {
      padding: 70px 0;
     text-align: center;
  
      @media (max-width: 768px) {
        padding: 40px 20px;
      }
  
      h1 {
        margin-bottom: 30px;
      }
    }
  
    .product-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      column-gap: 40px;
      row-gap: 80px;
  
      
      @media (max-width: 768px) {
        display: block;
      }
    
      .product-item {
        @media (max-width: 768px) {
          margin-bottom: 30px ;
        }
        img {
          width: 100%;
          min-height: 200px;
          max-height: 200px;
          margin-bottom: 30px;
          object-fit: cover;
        }
  
        h4 {
          margin-bottom: 30px;
        }
  
        a {
          font-style: italic;
          font-weight: 300;
          padding: 7px 30px;
          border-radius: 2px;
          background-color: #005aab;
          color: #fff;
        }
  
      }
    }
  }